body {
	background-image: url("/view/images/home/background.jpg");
	background-position: left;
}

.painel-login{
	background-color: rgba(0, 182, 0, 0.8);
	border-radius: 7px;
	color: #000000;
	font-size: 16px;
}

.tam-conteudo{
	height:450px;
	vertical-align: middle;
	text-align: center;
}

.hcenter{
	margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.textoIntro{
	font-size: 24px;
	font-family: "Arial Black";
	font-weight: bolder;
}

.btnconfirm{
	width: 60%;
	font-size: 18px;
	color: #000000;
	background-color: #f8f8f8;
  	border-color: #e7e7e7;
}

.registre-se{
	font-size: 12px;
	font-family: sans-serif;
}

.spacer{
  height: calc(100% - 552px);
}

