html, body {
    height:100%;
    overflow-x: hidden;
}

body {
  padding: 0 !important;
  background-color: #E6E6E6;
}

textarea {
  resize: vertical;
}

#header {
  border-radius: 0;
  border-left: none;
  border-right: none;
}


#content-title {
  margin-top: 0;
}

#footer {
  padding: 2px;
  margin: 0;
  background-color: #F8F8F8;
  width: 100%;
  border-top: 1px solid #E7E7E7;
  color: #5F5F5F;
}

#logo-header{
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: -15px;
  margin-bottom: -15px;
}

/*limites para dropdowns serem com scroll pequeno*/
.scrollable-menu-small {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/*limites para dropdowns serem com scroll médio*/
.scrollable-menu-medium {
    height: auto;
    max-height: 350px;
    overflow-x: hidden;
}

.vcenter {
    vertical-align: middle;
}

.text-vcenter{
	text-align: center;
}

.logged-user-panel {
  margin-top: 13px;
  margin-left: 17px;
}

.logged-user-panel form {
  display: inline;
}
.text-simple{
  font-weight: bold;
}

#btn-criar-topico {
  margin-top: 7px;
  margin-right: 4px;
  margin-bottom: 7px;
}

.avatar-small {
  width: 35px;
  min-height: 35px;
  margin-right: 8px;
}

.topic-top {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #FFFFFF;
}

.avatar-micro {
  width: 22px;
}

.fonte-simples{
  font-size: 16px;
  color: #515151;
}

.avatar-header {
  height: 26px;
}

.avatar-topico {
  width: 100px;
}

.user-avatar-clicable {
  cursor: pointer;
}